<% function printThing (thing) { -%>
  <p><%= (null == thing.a ? "" : escape(thing.a)) %></p>
  <p><%= (null == thing.b ? "" : escape(thing.b)) %></p>
<% } -%>

<!DOCTYPE html>
<html>
  <head>
    <title>Fortunes</title>
  </head>
  <body>
    <p>Interesting website</p>
    <% for (var i = 0; i < locals.things.length; i ++) {
         printThing(locals.things[i])
       } -%>
  </body>
</html>
