<!DOCTYPE html>
<html>
  <head>
    <title>Fortunes</title>
  </head>
  <body>
    <p>Interesting website</p>
    <% for (var i = 0; i < locals.things.length; i ++) { -%>
    <%   var thing = locals.things[i] -%>
      <p><%= (null == thing.a ? "" : thing.a) %></p>
      <p><%= (null == thing.b ? "" : thing.b) %></p>
    <% } -%>
  </body>
</html>
